<h1>About me</h1>
<p>This page is to learn something about ruby on rails. Usually i work with wordpress like <a href = "http://www.perwinroth.com">perwinroth.com<a> and even then i suck. This is some extra text to see its different</p>
