<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.mikrojobb.se/">Mikrojobb</a></li>
      <li><a href="http://www.twitter.com/perwinroth">twitter</a></li>
    </ul>
  </nav>
</footer>